/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
}

body:hover {
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Dynamic hover gradient */
}

.container {
    background: rgba(218, 218, 218, 0.9);
    padding: 30px 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    animation: slideDown 1.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: -50px;
    right: -50px;
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));
    border-radius: 50%;
    z-index: 0;
    filter: blur(15px);
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.input-section {
    margin-bottom: 20px;
    z-index: 1;
}

input {
    padding: 12px;
    font-size: 1rem;
    width: 70%;
    border-radius: 25px;
    border: 1px solid #ddd;
    margin-right: 10px;
    transition: all 0.3s ease;
    z-index: 1;
    position: relative;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(72, 244, 155, 0.5);
}

button {
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    margin-top: 13px;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#weather-info {
    margin-top: 20px;
    z-index: 1;
    position: relative;
}

#weather-info.hidden {
    display: none;
}

#weather-info h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

#weather-info p {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 5px;
}

/* Animations */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
